#Programação {width: 100%;height: 450px;}
h1{text-align: center; font-size: 35px; color: #0739ff;border: 10px solid #001046; height: 60px; padding: 10px;}
h2{color: #ffffff;}
p{ text-align: justify; font-size: 20px; }
body{background: #85C1E9;}
